body{
  background-color: #ebffeb;
}

.titulo{
    color: red;
}
.divimagen1{
    position: absolute;
    left: 4.5%;
    top: 8%;
    animation: animacion1 7.5s ease forwards infinite;
}
.divimagen2{
    position: absolute;
    left: 42%;
    top: 8%;
    animation: animacion2 7.5s ease forwards infinite;
}
.logo{
    width: 255px;
    height: 255px;
    border-radius: 20px;
    border: solid black 5px;
}
.diveslogan{
    background-color: black;
    width: 260px;
    height: 260px;
    border-radius: 25px;
    position: absolute;
    left: 80%;
    top: 8%;
    animation: animacion3 7.5s ease forwards infinite;
}
.eslogan{
color: red;
}
.letra1{
    font-family: cursive;
    color: whitesmoke;
}
.letratitulo{
    font-family: sans-serif
}
.gestion{
    background-color: #4CAF50;
    width: 350px;
    height: 70px;
    border-radius: 20px;
    position: absolute;
    top: 61%;
    left: 39%;
}
.letgestion{
    color: whitesmoke;
}
.divdesc{
    width: 800px;
    height: 600px;
    position: absolute;
    top: 80%;
    left: 22%;
}
.imggran{
    width: 800px;
    height: 375px;
    position: absolute;
    left: 22%;
    top: 105%;
    border-radius: 10px;
}
.letdes{
    font-style: black;
    font-size: 23px;
    text-align: justify;
    animation: animacion4 3s ease forwards;
}
.div1{
    background-color: #333;
    position: absolute;
    left: 4.5%;
    top: 230%;
    height: 300;
    width: 255px;
    border: solid #444646 4px;
    border-radius: 7px;
    text-align: justify;
    animation: animacion4 3s ease forwards;
}
.div2{
    background-color: #333;
    position: absolute;
    left: 39%;
    top: 230%;
    height: 300;
    width: 340px;
    border: solid #444646 4px;
    border-radius: 7px;
    text-align: justify;
    animation: animacion4 3s ease forwards;
}
.div3{
    background-color: #333;
    position: absolute;
    left: 80%;
    top: 230%;
    height: 300;
    width: 255px;
    border: solid #444646 4px;
    border-radius: 7px;
    text-align: justify;
    animation: animacion4 3s ease forwards;
}

.textoblanco{
  color: white;
}

.d4{
    position: absolute;
    left: 6%;
    top: 222%;
    height: 300;
    width: 255px;
    text-align: justify;
    animation: animacion4 3s ease forwards;
}
.d5{
    position: absolute;
    left: 38.5%;
    top: 222%;
    height: 300;
    width: 380px;
    text-align: justify;
    animation: animacion4 3s ease forwards;
}
.d6{
    position: absolute;
    left: 77%;
    top: 222%;
    height: 300;
    width: 380px;
    text-align: justify;
    animation: animacion4 3s ease forwards;
}
.f1{
    position: absolute;
    left: 4.5%;
    top: 180%;
    width: 260px;
    height: 260px;
    border-radius: 25px;
}
.f2{
    position: absolute;
    left: 42%;
    top: 180%;
    width: 260px;
    height: 260px;
    border-radius: 25px;
}
.f3{
    position: absolute;
    left: 80%;
    top: 180%;
    width: 260px;
    height: 260px;
    border-radius: 25px;
}

  @keyframes animacion1 {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }


  @keyframes animacion2 {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }


  @keyframes animacion3 {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  
  @keyframes animacion4 {
    from {
        opacity: 0;
      transform: translateX(-100%);
    }
    to {
        opacity: 1;
      transform: translateX(0);
    }
  }
  